@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Metal+Mania&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Metal+Mania&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Metal+Mania&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: 'Outfit', sans-serif;
}

.web-title {
  font-size: 4rem;
  color: rgb(255, 102, 0);
  text-align: center;
  margin: 2rem 0 1rem;
  letter-spacing: 4px;
  font-family: 'Bebas Neue', sans-serif;
}

.web-title::after {
  content: '';
  display: block;
  width: 90px;
  height: 4px;
  background-color: rgb(255, 102, 0);
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

h1 {
    font-family: 'Raleway', sans-serif;
}